# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Created by https://www.gitignore.io/api/godot

### Godot ###
.import/
.mono/
export_presets.cfg


# End of https://www.gitignore.io/api/godot
